extends ../dashboard_layout

block interactable
  h1 Roles
  a.btn.btn-primary(style={"margin-bottom": "10px"}, href="/roles/new")
    i.bi.bi-plus-circle
    |  New Role
  div 
    ul.list-group.items-list
      each scopegroup in scopegroups 
        a.list-group-item.list-group-item-action(href=`/roles/${scopegroup.id}`)= scopegroup.name
