extends layout

block head
  link(rel='stylesheet', href='/css/index.css')

block content
  .container(style={"margin-top": "50px"})
    .jumbotron.index-box
      h1 Infinity Aero Club
      h2 Page not found
      a.btn.btn-primary.btn-lg(href="/home") Go Back Home
