extends layout

block content
  .container(style={"margin-top": "50px"})
    img(src="/img/ifac-long-alpha.png", alt="Infinity Aero Club", style={"max-width": "100%", "height": "100px"})
    if description
      p= description
    if error
      .alert.alert-danger #{error}
    form(class="form-box", method="post")
      div
        label(class="form-label" for="login-username") Username
        input(type="text" name="username" class="form-control" id="login-username" required)
      div
        label(class="form-label" for="login-password") Password
        input(type="password" name="password" class="form-control" id="login-password" required)
      button(type="submit" class="btn btn-primary" style={"margin-top": "10px"}) Login
