extends ../dashboard_layout

block interactable
  h1=`${isNew ? "Set" : "Reset"} password for ${username}`
  form(method="post")
    div
      label.form-label= `Password ${isNew ? "" : "(leave blank to remove password)"}`
        input(type="password" name="password" class="form-control")
    if !isNew
      p Changing the password will log out this user

    a.btn.btn-secondary(href=`/users/${userId}` role='button')= isNew ? "Skip" : "Cancel"
    button.btn.btn-primary(type='submit' style={"margin-left": "10px"}) Submit